#app {
    max-width: 80%;
    margin: 0 10%;
}

#language {
    background-color: black;
    color: white;
    padding: 0.5%;
    font-size: 0.7em;
    max-width: 6%;
    text-align: center;
}

#message-log {
    padding: 2em;
}

.message {
    max-width: 60%;
    padding: 1em;
    border-radius: 5px;
}

.message-user {
    margin-left: 40%;
    background-color: lightblue;
    border: 2px solid darkblue;
}

.message-correction {
    border: 1px solid red;
    margin-bottom: 1em;
    border-radius: 5px;
}

.message-answer {
    background-color: purple;
    color: white;
    padding: 1em;
    border-radius: 5px;
}

#user-input {
    width: 100%;
}

#user-input input {
    font-size: 2em;
    width: 100%;
}

ul.diff {
    list-style: none;
}

li.diff-incorrect {
    opacity: 0.5;
}

.diff-added {
    color: green;
}

.diff-removed {
    color: red;
    text-decoration: line-through;
}
